{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid content-text">
        <div class="row">

            <div class="col-md-8 col-md-offset-2 text">
                <h2>О компании</h2>
                <p><strong>Количество сотрудников</strong>: 43.<br>
                    <strong>Профиль</strong>: разработка маркетинговых digital-материалов в сфере недвижимости для
                    увеличения эффективности продаж.<br>
                    <strong>Cпециализация и отделы</strong>: Brand/Strategy/Creative/Art, Web, 3D, Architectural Design,
                    Post-production, Support/BackEnd, Server BackEnd, Consulting, Marketing.<br>
                    <strong>Лицензионный софт</strong>: Autodesk, Adobe, Microsoft, Red Giant Software, Chaos Group,
                    iToo Software, Corona Renderer.<br>
                    <strong>Аппаратные средства</strong>: собственные серверные стойки (кластер 100 юнитов).</p>
            </div>

        </div>
    </div>
{% endblock %}