{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid content-text">
        <div class="row">

            <div class="col-md-8 col-md-offset-2 text">
                <h2>Свяжитесь с нами</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil
                    animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore
                    quia.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio veniam minus illo debitis nihil
                    animi facere, doloremque voluptate tempore quia. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Distinctio veniam minus illo debitis nihil animi facere, doloremque voluptate tempore
                    quia.</p>
            </div>

        </div>
    </div>
{% endblock %}