{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid content-text">
        <div class="row">

            <div class="col-md-8 col-md-offset-2 text">
                <h2>Свяжитесь с нами</h2>
                <p><span class="orang">BUILD PROJECT</span>- проектирования и визуальные маркетинговые
                    коммуникации в недвижимости</p>
                <h3><span class="orang">Отправьте запрос</span> или <a class="orang" href="tel:+996770655554">+996 (770)
                    65 55 54</a></h3>
                <p>Также можно <a class="orang" href="mailto:test@test.kg" target="_blank">написать письмо</a> на
                    электронную почту</p>
            </div>

        </div>
    </div>

{% endblock %}