{% load staticfiles %}

<footer class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <p>©ART 3D-Graphics, 2004–2017. Все права защищены </p>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4 right">
            <a href="#">Напишите нам</a> или <a href="tel:+74958001888">+7 (495) 800-1-888</a>
        </div>
    </div>
</footer>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.swipebox.js' %}"></script>
<script src="{% static 'js/ios-orientationchange-fix.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>