{% load staticfiles %}
<footer class="container">
    <div class="row">
        <div class="col-md-4 item">
            <h3>Notice</h3>
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
        </div>
        <div class="col-md-4 item">
            <h3>Customer center</h3>
            <img src="{% static 'img/footer-logo-1.png' %}" class="left icon">
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.</p>
            <p class="red">023-23-23-23</p>
        </div>
        <div class="col-md-4 item">
            <h3>Broucher download</h3>
            <img src="{% static 'img/footer-logo-2.png' %}" class="left icon">
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является
                стандартной "рыбой" для текстов на латинице с начала XVI века.</p>
        </div>
    </div>
    <div class="copy">
        <p>COPYRIGHT 2017 COMPANY NAME</p>
    </div>
</footer>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'fancybox/jquery.fancybox.js' %}"></script>
<script src="{% static 'js/jquery.swipebox.js' %}"></script>
<script src="{% static 'js/ios-orientationchange-fix.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        /* Video */
        $('.swipebox-video').swipebox();
    });
</script>