{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid more" style=" background-image: url({{ gallery.image.url }});">
        <div class="row">

            <div class="col-md-5 col-md-offset-1 text">
                <p>{{ gallery.publish }}</p>
                <p class="red">{{ gallery.place }}</p>
                <h2>{{ gallery.title }}</h2>
                <p>{{ gallery.category.name }}</p>
                {% if gallery.link %}
                    <a class="btn btn-danger" target="_blank" href="{{ gallery.link }}">Link.ru</a>
                {% endif %}
                {% if gallery.video %}
                    <a class="swipebox-video btn btn-danger" rel="youtube" href="{{ gallery.video }}">
                        Видео</a>
                {% endif %}
                {% if gallery.slider %}
                    <a href="#" id="gallery" class="btn btn-danger">3D-визуализация</a>
                {% endif %}
                <div class="result-project">
                    <p>В рамках ситемы разработаны</p>
                    <ul>
                        {% for g_result in gallery.results.all %}
                            <li>{{ g_result.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <p>{{ gallery.description }}</p>

            </div>

        </div>
    </div>



    <script type="text/javascript">
        $('#gallery').click(function (e) {
            e.preventDefault();
            $.swipebox([
                {% for g in gallery.slider.all %}
                    {href: '{{ g.slide.url }}', title: '{{ g.title }}'},
                {% endfor %}
            ]);
        });
        $(document).ready(function () {
            /* Video */
            $('.swipebox-video').swipebox();
        });
    </script>
{% endblock %}