{% extends 'base.html' %}
{% load  staticfiles %}

{% block content %}
    <div class="container-fluid gallery">
        <div class="row">
            {% for g_list in gallery %}
                <div class="col-md-3 col-sm-6 item">
                    <a href="{{ g_list.get_absolute_url }}">
                        <img src="{{ g_list.image.url }}" alt="#">
                        <div class="gal-prev">
                            <h3>{{ g_list.title }}</h3>
                            <p>{{ g_list.category.name }}</p>
                            <p class="dop">{{ g_list.place }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}